<div class='artist_container'>
  <img src="<%= imgUrl %>">
  <h1 class='artist_name'><%= name %></h1>
  <iframe src="<%= playUrl%>" width="300" height="200" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>



<!--
  requires:
    token
    artist image
    artist album link
-->
