<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/enter_page.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <div class="container">
      <a href="https://accounts.spotify.com/authorize?client_id=<%= spotifyApiID %>&redirect_uri=<%=encodeURI(baseURI + '/api/spotify')%>&scope=user-read-private%20user-read-email&response_type=token&state=123"><h1 id="loginBtn">dance me in</h1></a>

    </div>
  </body>
</html>




<!--
  Photo by danny howe on Unsplash (darker concert)
  Photo by Vishnu R Nair on Unsplash (yellowish tint)
  Photo by Alexander Popov on Unsplash (purplish pink)
-->
