<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/lander.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <div class="container">
      <a href="https://accounts.spotify.com/authorize?client_id=<%= spotifyApiID %>&redirect_uri=<%=encodeURI(baseURI + redirectURI)%>&scope=user-read-private%20user-read-email&response_type=token&state=123"><h1 id="loginBtn">dance me in</h1></a>

    </div>
  </body>
</html>




<!--
  Photo by danny howe on Unsplash (darker concert)
  Photo by Vishnu R Nair on Unsplash (yellowish tint)
  Photo by Alexander Popov on Unsplash (purplish pink)
-->
