<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/new_profile.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  </head>

  <body>
    <div class="container">
      <h2>let's set up your profile</h2>
      <form action="/profile" method="POST">
        <textarea type="text" name="bio" placeholder="tell us a little about yourself =)" ></textarea>
        <input type="text" name="avatar_uri" placeholder="a link to a shot of your best side" >
        <button type="submit">let me in</button>

      </form>

    </div>
  </body>
</html>


